@font-face
	font-family sectraB
	src url(../font/GT-Sectra-Fine-Book.ttf)
@font-face
	font-family sectraBI
	src url(../font/GT-Sectra-Fine-Book-Italic.ttf)
@font-face
	font-family sectraR
	src url(../font/GT-Sectra-Fine-Regular.ttf)

button
	&:hover
		-webkit-transition: all .25s ease
		-moz-transition: all .25s ease
		-ms-transition: all .25s ease
		-o-transition: all .25s ease
		transition: all .25s ease
		color #ed1c24 !important
		background-color white
		border 1px solid #ed1c24
		

body
	background-color #F1F2F2
	font-size 12px
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	font-feature-settings: "kern";
	-webkit-font-feature-settings: "kern";
	-moz-font-feature-settings: "kern";
	-moz-font-feature-settings: "kern=1";
	font-kerning: normal;
.content-mid
	margin 35px 0
.no-p
	padding 0
.no-m
	margin 0
.rel
	position relative
.no-p-left
	padding-left 0
.no-p-right
	padding-right 0
.abs
	position absolute
// home

.home-1
	background-color white
	padding 15px 0
.w100
	width 100%

.border-right
	border-right 1px solid rgba(0,0,0,0.1)
.border-left
	border-left 1px solid rgba(0,0,0,0.1)

.flex
	display flex
.flex-column
	flex-direction column
.flex-wrap
	flex-wrap wrap
.no-wrap
	flex-wrap nowrap
.just-center
	justify-content center
.align-center
	align-items center
.flex-row
	flex-direction row
// navbar
#navbar
	background-color white	
	height 120px
.nav-kanan
	//padding 15px 0
	&:before
		content ''
		position absolute
		height 50%
		width 100vw
		top 0
		border-bottom 1px solid rgba(0,0,0,0.1)
.navbar-nav
	li
		a
			padding 20px
			font-family sectraR
			font-size 12px
			text-transform uppercase
			color #414042
			letter-spacing 0.7px
.logo-wrapper
	width 161px
	margin-right 15px
.menu-wrapper
	width 100%
	padding-right 15px
	padding 15px 15px 0
.navbar
	margin-bottom 0
	border none
#navbari
	width 100%

.desc
	font-size 11px
	font-family "Helvetica"
	text-transform uppercase
	-webkit-font-smoothing: auto;
	letter-spacing 0.7px
	margin-top 15px
	a
		color #ED1C24
.title
	a
		font-family sectraB
		color #414042
		font-size 32px
		font-weight lighter
		letter-spacing 0.5px
.wrapper-item-height
	height 100%
.wrapper-item-height-h
	max-height 673px
	overflow hidden
.wrapper-desc
	min-height 87px
.p-content
	font-family "Helvetica"
	font-size 15px
	margin 15px 0
	color #414042
	letter-spacing: 0.3px;
.datetime
	color #939598
	font-family "Helvetica"
	font-size 12px
	margin-bottom 30px
.title2
	line-height 18px
	margin-top 0
	a
		font-size 20px
.title3
	margin-top 0
	line-height 14px
	a
		font-size 16px
.border-bottom
	border-bottom 1px solid rgba(0,0,0,0.1)
	&:last-child
		margin-top 13px
		border none
.shadow
	box-shadow: 0px 0px 35px -15px black;
.header-upcoming
	background-color black
	margin 0
	padding: 12px 15px;
	a
		color white
.wrapper-big-upcoming
	padding 1px 15px
	background-color #1C1B1C
	color white
	p
		font-size 16px
		font-weight lighter
		color #939598
		font-family "Helvetica"
		padding-bottom 20px
		padding 0
.big-upcoming
	margin 5px 0
	font-family sectraB
	font-size 45px
	line-height 50px
	.big
		font-size 85px
		font-family sectraB
.inner-desc
	padding 12px 15px
	margin 0
	background #F1F2F2
	font-weight bold
	a
		color #414042
.upcoming
	max-height 673px
	overflow hidden
.inner-upcoming
	padding 0 15px 12px
	background-color #f1f2f2
.date-upcoming
	margin-bottom 0
.inner-upcoming-inside
	padding 12px 0
.member-desc
	background-color black
	margin 0
	padding 12px 15px
	letter-spacing 1px
	color white
	
.wrapper-testimoni
	padding 12px 15px
	background-color #FFFCF8
.wrapper-inside-testimoni
	border-radius 12px
	background-color #E7E5E1
	padding 16px 19px
	height 75%
	p
		font-family sectraBI
		font-size 18px
.red
	font-family "Helvetica"
	font-size 12px
	color #ED1C24
.circle-clip
	bottom: -50px;
	right: 20px;
	overflow: hidden;
	border-radius: 100%;
.member-benefit
	border-bottom 1px solid rgba(0,0,0,0.1)
	margin-top 0 !important
	background-color #F8E9CF
	text-transform none
.wrapper-benefit
	overflow hidden
.wrapper-right-benefit
	background-color #FFF4E3
	padding 14px 0
	div
		&:first-child
			padding-right 7px
		&:last-child
			padding-left 7px
.title-benefit
	margin 12px 0
.desc-benefit
	font-size 12px
	font-family "Helvetica"
.btn-join
	color white
	background-color #ED1C24
	margin-top 48px
	margin-bottom 5px
	font-family "Helvetica"
	font-weight bolder
	letter-spacing 0.7px
	-webkit-transition: all .25s ease
	-moz-transition: all .25s ease
	-ms-transition: all .25s ease
	-o-transition: all .25s ease
	transition: all .25s ease
.tables
	display table
	height 100%
.table-cell
	display table-cell
	float none
.align-children
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	// > [class*='col-']
	// 	display flex
	// 	flex-direction column
.gambar
	width 100%
	height auto
.putih
	background-color white
.testi-img
	width 99px
.sectra-b
	font-family sectraB
.h-1
	font-size 32px
.subscribe-container
	min-height 200px
	padding 15px 0
	background-color #E6E7E8
	border 1px solid #BCBEC0
	border-radius 10px
	> div
		padding 0 15px
	.subscribe-h
		margin 0
	.text-subscribe
		margin 5px 0 15px
		font-size 15px
		font-family "Helvetica"
.input-subscribe
	input
		width 300px !important
.btn-subscribe
	color white
	background-color #ED1C24
	font-family "Helvetica"
	font-weight bolder
	text-transform uppercase
	margin 0 10px
	font-size 12px
	letter-spacing 0.7px
	-webkit-transition: all .25s ease
	-moz-transition: all .25s ease
	-ms-transition: all .25s ease
	-o-transition: all .25s ease
	transition: all .25s ease
	&:hover
		background-color white
		border 1px solid #ed1c24
.sponsor
	min-height 238px
	background-color white
	padding-top 40px
	margin-bottom 0
	.sponsor-text
		font-family "Helvetica"
		font-size 11px
		font-weight bolder
		margin-bottom 35px
.img-sponsor
	margin 5px 15px
	
footer
	padding 33px 0
	min-height 325px
	background-color #1C1B1C
.wrapper-item-footer
	ul
		list-style-type none
		li
			margin 2px 0
			a
				font-family "Helvetica"
				font-size 15px
				color #939598
				
.subscribe-input
	width 300px
	background-color #414042
	border 1px solid #D1D3D4
	width 100% !important
	color white
	&:focus
		border-color: white;
		outline: 0;
		-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
		box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
	
.flex-between
	justify-content space-between
.text-footer
	margin-top 0
	margin-bottom 15px
	color #939598
.copyright
	margin-top 58px
	> div
		a
			font-size 15px
			color #939598
			margin 0 3px
	h5
		color #939598
		font-size 15px
.cari
	background-color: transparent;
	color: #6d6e71;
	border: none;
	top: 5px;
	font-size: 15px;
	right: 0;
	&:hover
		background transparent
		border none
.btn-signin
	background-color #ED1C24
	color white
	margin-left 15px
	
.f-cari
	input
		padding-right: 30px;
.wrap-head-social
	margin-top 15px