@font-face
	font-family sectraB
	src url(../font/GT-Sectra-Fine-Book.ttf)
@font-face
	font-family sectraBI
	src url(../font/GT-Sectra-Fine-Book-Italic.ttf)
@font-face
	font-family sectraR
	src url(../font/GT-Sectra-Fine-Regular.ttf)
$merah = #ED1C24
$merah2 = 237,28,36

html
	overflow-x hidden

button
	&:hover
		-webkit-transition: all .25s ease
		-moz-transition: all .25s ease
		-ms-transition: all .25s ease
		-o-transition: all .25s ease
		transition: all .25s ease
		color #ed1c24 !important
		background-color white
		border 1px solid #ed1c24
		

body
	background-color #F1F2F2
	font-size 12px
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	font-feature-settings: "kern";
	-webkit-font-feature-settings: "kern";
	-moz-font-feature-settings: "kern";
	-moz-font-feature-settings: "kern=1";
	font-kerning: normal;
	overflow-x: hidden;
	height auto
.content-mid
	margin 35px 0
.no-p
	padding 0
.no-m
	margin 0
.rel
	position relative
.no-p-left
	padding-left 0
.no-p-right
	padding-right 0
.abs
	position absolute
.h100
	height 100%
// hamburg
#nav-icon2
	width: 16px;
	height: 30px;
	position: relative;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	cursor: pointer;
	span
		display block
		position absolute
		height 3px
		width 50%
		background #ed1c24
		opacity 1
		-webkit-transform rotate(0deg)
		-moz-transform rotate(0deg)
		-o-transform rotate(0deg)
		transform rotate(0deg)
		-webkit-transition .25s ease-in-out
		-moz-transition .25s ease-in-out
		-o-transition .25s ease-in-out
		transition .25s ease-in-out
		&:nth-child(even)
			left 50%
			border-radius 0 9px 9px 0
		&:nth-child(odd)
			left 0px
			border-radius 9px 0 0 9px
	&.open
		span
			&:nth-child(1)
				left 1px
				top 6px
			&:nth-child(2)
				left calc(50% - 3px)
				top 6px
			&:nth-child(3)
				left -50%
				opacity 0
			&:nth-child(4)
				left 100%
				opacity 0
			&:nth-child(5)
				left 1px
				top 11px
			&:nth-child(6)
				left calc(50% - 3px)
				top 11px

#nav-icon2 span:nth-child(1), #nav-icon2 span:nth-child(2)
	top 0px

#nav-icon2 span:nth-child(3), #nav-icon2 span:nth-child(4)
	top 6px

#nav-icon2 span:nth-child(5), #nav-icon2 span:nth-child(6)
	top 12px

#nav-icon2.open span:nth-child(1),#nav-icon2.open span:nth-child(6)
	-webkit-transform rotate(45deg)
	-moz-transform rotate(45deg)
	-o-transform rotate(45deg)
	transform rotate(45deg)

#nav-icon2.open span:nth-child(2),#nav-icon2.open span:nth-child(5)
	-webkit-transform rotate(-45deg)
	-moz-transform rotate(-45deg)
	-o-transform rotate(-45deg)
	transform rotate(-45deg)

// home

.home-1
	background-color white
	padding 15px 0
.w100
	width 100%

.border-right
	border-right 1px solid rgba(0,0,0,0.1)
.border-left
	border-left 1px solid rgba(0,0,0,0.1)

.flex
	display flex
.flex-column
	flex-direction column
.flex-wrap
	flex-wrap wrap
.no-wrap
	flex-wrap nowrap
.just-center
	justify-content center
.align-center
	align-items center
.flex-row
	flex-direction row
// navbar
#navbar
	background-color white	
	height 120px
	max-width 100vw
	
.nav-kanan
	//padding 15px 0
	&:before
		content ''
		position absolute
		height 50%
		width 100vw
		top 0
		border-bottom 1px solid rgba(0,0,0,0.1)
.navbar-nav
	>li
		position relative
		>a
			padding 20px 15px
			font-family sectraR
			font-size 12px
			text-transform uppercase
			color #414042
			letter-spacing 0.7px
			span
				opacity 0.6
.nav-nested
	&:before
		position absolute
		content ''
		height 100%
		width 100%
		border-left 1px solid rgba(0,0,0,0.1)
		display none
	ul
		display none
		min-width 240px
		top 59px
		position absolute
		border-bottom 1px solid rgba(0,0,0,0.1)
		li
			margin-bottom 5px
			a
				font-family sectraR
				font-size 15px
				text-transform capitalize
				color rgba(65,64,66,0.9)
				letter-spacing 0.7px
				margin-right 5px
				min-width 200%
	&:hover
		&:before
			display block
			left -1px
		ul
			
			border-bottom 1px solid rgba(0,0,0,0.1)
			display block
			position absolute
			list-style-type none
			background white
			padding 8px
			z-index 99
			height auto
			left: -1px;
			padding-left: 15px;
			padding-right 30px
.logo-wrapper
	width 161px
	margin-right 15px
.menu-wrapper
	width 70%
	padding-right 15px
	padding 15px 15px 0
.navbar
	margin-bottom 0
	border none
.navbar-cols
	display: block
	height: auto
	padding-bottom: 0;
	overflow: visible

.desc
	font-size 11px
	font-family "Helvetica"
	text-transform uppercase
	-webkit-font-smoothing: auto;
	letter-spacing 0.7px
	margin-top 15px
	a
		color #ED1C24
.title
	a
		font-family sectraB
		color #414042
		font-size 32px
		font-weight lighter
		letter-spacing 0.5px
		&:hover
			text-decoration-color rgba($merah2,0.5)
.wrapper-item-height
	height 100%
.wrapper-item-height-h
	max-height 673px
	overflow hidden
.wrapper-desc
	min-height 87px
.p-content
	font-family "Helvetica"
	font-size 15px
	margin 15px 0
	color #414042
	letter-spacing: 0.3px;
.datetime
	color #939598
	font-family "Helvetica"
	font-size 12px
	margin-bottom 30px
.title2
	line-height 18px
	margin-top 0
	a
		font-size 20px
.title3
	margin-top 0
	line-height 14px
	a
		font-size 16px
.border-bottom
	border-bottom 1px solid rgba(0,0,0,0.1)
	&:last-child
		margin-top 13px
		border none
.shadow
	//box-shadow: 0px 0px 35px -15px black;
	box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.2);
.header-upcoming
	background-color black
	margin 0
	padding: 12px 15px;
	a
		color white
.wrapper-big-upcoming
	padding 1px 15px
	background-color #1C1B1C
	color white
	> a
		font-size 16px
		font-weight lighter
		color #939598
		font-family "Helvetica"
		padding-bottom 20px
		padding 0
		margin-bottom 33px
		display block
.big-upcoming
	margin 5px 0
	font-family sectraB
	font-size 45px
	line-height 50px
	.big
		font-size 85px
		font-family sectraB
.show-upcoming
	width calc(100% - 15px)
	bottom 0
	left 0
	z-index: 10;
	right 0
	height 80px
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	button
		z-index 99
		font-size 11px
		font-family "Helvetica"
		font-weight bolder
		padding 8px
		background #E6E7E8
		border 1px solid #BCBEC0
		width 90%
		letter-spacing 0.7
	.o
		content ''
		position absolute
		height 100%
		width 100%
		left 0
		bottom 0
		background linear-gradient(to bottom,rgba(252, 252, 252, 0),#F1F2F2)
		
.inner-desc
	padding 12px 15px
	margin 0
	background #F1F2F2
	font-weight bold
	a
		color #414042
.upcoming
	max-height 673px
	overflow hidden
.inner-upcoming
	padding 0 15px 12px
	background-color #f1f2f2
	height 100%
.date-upcoming
	margin-bottom 0
.inner-upcoming-inside
	padding 12px 0
.member-desc
	background-color black
	margin 0
	padding 12px 15px
	letter-spacing 1px
	color white
	
.wrapper-testimoni
	padding 12px 15px
	background-color #FFFCF8
.wrapper-inside-testimoni
	border-radius 12px
	background-color #E7E5E1
	padding 16px 19px
	padding-bottom: 50px;
	height 75%
	margin-bottom 50px
	p
		font-family sectraBI
		font-size 18px
.red
	font-family "Helvetica"
	font-size 12px
	color #ED1C24
.circle-clip
	bottom: -50px;
	right: 20px;
	overflow: hidden;
	border-radius: 100%;
.member-benefit
	border-bottom 1px solid rgba(0,0,0,0.1)
	margin-top 0 !important
	background-color #F8E9CF
	text-transform none
.wrapper-benefit
	overflow hidden
.wrapper-right-benefit
	background-color #FFF4E3
	padding 14px 0
	div
		&:first-child
			padding-right 7px
		&:last-child
			padding-left 7px
.title-benefit
	margin 12px 0
.desc-benefit
	font-size 12px
	font-family "Helvetica"
.btn-join
	color white
	background-color #ED1C24
	margin-top 48px
	margin-bottom 5px
	font-family "Helvetica"
	font-weight bolder
	letter-spacing 0.7px
	-webkit-transition: all .25s ease
	-moz-transition: all .25s ease
	-ms-transition: all .25s ease
	-o-transition: all .25s ease
	transition: all .25s ease
.tables
	display table
	height 100%
.table-cell
	display table-cell
	float none
.align-children
	display flex
	-webkit-display flex
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap nowrap
	// > [class*='col-']
	// 	display flex
	// 	flex-direction column
.gambar
	width 100%
	height auto
.putih
	background-color white
.testi-img
	width 99px
.sectra-b
	font-family sectraB
.h-1
	font-size 32px
.subscribe-container
	min-height 200px
	padding 15px 0
	background-color #E6E7E8
	border 1px solid #BCBEC0
	border-radius 10px
	> div
		padding 0 15px
	.subscribe-h
		margin 0
	.text-subscribe
		margin 5px 0 15px
		font-size 15px
		font-family "Helvetica"
.input-subscribe
	input
		width 300px !important
.wrapper-secondary
	flex-direction column
.btn-subscribe
	color white
	background-color #ED1C24
	font-family "Helvetica"
	font-weight bolder
	text-transform uppercase
	margin 0 10px
	font-size 12px
	letter-spacing 0.7px
	-webkit-transition: all .25s ease
	-moz-transition: all .25s ease
	-ms-transition: all .25s ease
	-o-transition: all .25s ease
	transition: all .25s ease
	&:hover
		background-color white
		border 1px solid #ed1c24
.sponsor
	min-height 238px
	background-color white
	padding-top 40px
	margin-bottom 0
	.sponsor-text
		font-family "Helvetica"
		font-size 11px
		font-weight bolder
		margin-bottom 35px
.img-sponsor
	margin 5px 15px
	
footer
	padding 33px 0
	min-height 325px
	background-color #1C1B1C
.wrapper-item-footer
	ul
		list-style-type none
		li
			margin 2px 0
			a
				font-family "Helvetica"
				font-size 15px
				color #939598
				
.subscribe-input
	width 300px
	background-color #414042
	border 1px solid #D1D3D4
	width 100% !important
	color white
	&:focus
		border-color: white;
		outline: 0;
		-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
		box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
	
.flex-between
	justify-content space-between
.text-footer
	margin-top 0
	margin-bottom 15px
	color #939598
.copyright
	margin-top 58px
	> div
		a
			font-size 15px
			color #939598
			margin 0 3px
	h5
		color #939598
		font-size 15px
.cari
	background-color: transparent;
	color: #6d6e71;
	border: none;
	top: 5px;
	font-size: 15px;
	right: 0;
	&:hover
		background transparent
		border none
.btn-signin
	background-color #ED1C24
	color white
	margin-left 15px
	
.f-cari
	input
		padding-right: 30px;
.wrap-head-social
	margin-top 15px
.btn-signin2
	display none
.navbar-hamburg
	z-index 10
	display none
	@media (max-width:992px)
		display block
	
.wrapper-left-right
	margin 25px 0
.content-left
	width 80%
	padding-right 15px
	.navigasi
		padding 10px 15px
		border-bottom 1px solid rgba(0,0,0,0.1)
		font-family "Helvetica"
		font-size 11px
		font-weight bold
		color #BCBEC0
		a
			font-family inherit
			color inherit
			font-size inherit
			font-weight inherit
			letter-spacing 0.7px
			margin 0 5px
		a.active
			color $merah
	.inside-left
		background white
		.wrapper-item-groups
			padding 0 30px
			.flex
				flex-direction row
				flex-wrap wrap
				align-items center
			.wrapper-item-sponsor
				border-bottom 1px solid rgba(0,0,0,0.1)
				padding 40px 0
				&:first-child
					padding-top 20px
				img
					margin 15px
				h1
					font-family sectraB
					font-size 40px
					color #414042
					margin-bottom 25px
				p
					font-family "Helvetica"
					font-size 15px
					&.col
						color #939598
				.btn-become-sponsor
					background-color #E6E7E8
					color #414042
					border 1px solid rgba(0,0,0,0.1)
					font-weight bold
					font-family "Helvetica"
					font-size 13px
					margin-top 50px
		.wrapper-inside-left
			padding 0 35px
			overflow-x hidden
			.wrapper-events-title
				margin 20px 0
				h1
					font-size 40px
					font-family sectraB
				h5
					font-size 12px
					color #939598
.content-right
	width 330px
	.show-upcoming
		width 100%
.wrapper-carousel
	width: calc(100% + 12%);
	margin-left: -6%;
	.owl-carousel
		h5
			visibility hidden
	.center
		h5
			visibility visible
#events
	width 73%
.item-c
	font-size 12px
	font-family "Helvetica"
	color #939598
	img
		width 600px

.upcoming-top
	padding 0 15px
	margin-bottom 15px
	.wrapper-upcoming
		.wrapper-big-upcoming
			display flex
			flex-direction row
			justify-content space-between
			align-items center
			> *
				margin 15px !important
				&:first-child
					margin-left 0 !important
				&:last-child
					margin-right 0 !important
			.big-upcoming
				margin 15px 0
	.inner-desc
		margin-top 0 !important
		background white
		border-bottom 1px solid rgba(0,0,0,0.1)
#upcoming-right
	padding 0 15px
		
// ------------------------------------------------------------------------------------------------------------------------

@media (max-width: 1200px)
	.menu-wrapper
		width 50%
	.btn-signin
		display none
	.btn-signin2
		display inline
	.wrap-head-social
		margin-top 8px
	.wrapper-big-upcoming
		p
			margin-bottom 10px
@media (max-width: 992px)
	
	#events
		width 100%
	#upcoming-right
		padding 0
	.wrapper-left-right
		flex-direction column
		.content-right
			width 100%
			> div
				padding 0
				margin-top 25px
	.align-children
		flex-wrap wrap
	.content-left
		width 100%
		padding-right 0
		.inside-left
			.wrapper-inside-left
				padding 0 15px
	.nav-nested
				&:hover
					ul
						position relative
	.menu-wrapper
		flex-direction row
		width 100%
		justify-content flex-end
		> .text-right
			width 100%
		.sign-in-lg
			display none
	.f-cari-right
		width 90%
	.sign-in-xs
		width 90%
	.nav-nested
		ul
			top 0
			border-bottom 1px solid rgba(0,0,0,0.1)
	.wrapper-secondary
		position relative
		margin-bottom 10px
		&:after
			z-index 1
			content ''
			position absolute
			height 100%
			width 50%
			left 0
			border-right 1px solid rgba(0,0,0,0.1)
		flex-direction row
		justify-content space-between
		> div
			z-index 2
			width 48%
			&:first-child
				border-bottom none
			&:last-child
				margin-top 0
	.upcoming
		padding-right 0
	.home-1
		padding-bottom 0
				
	#navbari
		position absolute
		background white
		left 0
		z-index 9
		width 100%
		.text-right
			text-align left
			position absolute
			top 10px
			left 15px
		.navbar-nav
			border-top 1px solid rgba(0,0,0,0.1)
			margin-top 100px
			display flex
			flex-direction column
			width 100%
	footer
		.btn-subscribe
			margin-left 0
			margin-top 10px
	.wrap-head-social
		margin-top 0
	.nav-kanan
		&:before
			display none
	.show-upcoming
		bottom 0
		button
			width 95%
@media (max-width: 767px)
	#kanan
		.upcoming-top
			padding 0
	.upcoming-top
		padding-right 15px
	.content-right
		display none
	.sponsor
		.just-center
			justify-content flex-start
	.open
		position: fixed!important;
		right: 16px;

	#navbar
		height 85px
	.logo-wrapper
		img
			margin-top 5px
			height 80px
	#navbari
		//left -134px
		position fixed
		width 100vw
		height 100vh
		.navbar-nav
			width 100vw
		.nav-nested
			&:hover
				ul
					position relative
	.wrapper-ads
		padding-right 0
		margin-bottom 15px
	.menu-wrapper
		padding-right 2px
	.nav-kanan
		&:before
			display none
			width 100%
	.sign-in-xs
		width 80%
	.footer-newsletter
		margin-top 20px
		padding 0
	.copyright
		flex-direction column
		align-items left
	.content-mid
		margin 25px 0
		&:last-child
			margin 0
	.wrapper-right-benefit
		div.col-md-6:first-child
			margin-bottom: 20px;
			border-bottom: 1px solid rgba(0,0,0,0.1);
	.input-subscribe
		.btn-subscribe
			margin-left 0
			margin-top 5px
			width 100%
	.subscribe-h
		font-size 28px
	.img-sponsor
		margin 10px 15px
	.content-left .inside-left .wrapper-inside-left .wrapper-events-title h1
		font-size: 26px;
		font-family: sectraB;